:root {
  --base-color: rgb(255, 255, 255);
  --first-color: rgb(146, 143, 135);
  --shadow--grey: 3px 3px 3px var(--first-color);
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}
#app {
  transition: margin-left 0.5s;
}
/* nav-header */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  border-bottom: solid rgb(62, 85, 255);
  width: 95%;
  padding: 10px;
  border-radius: 20%;
  box-shadow: var(--shadow--grey);
}
.nav-button {
  background-color: rgba(94, 203, 99, 0.575);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.nav-button:active {
  background-color: var(--base-color);
  border-radius: 10px;
}
.nav-item {
  grid-column: 1;
}
.nav-logo {
  display: flex;
  width: 100%;
  grid-column: 2;
  justify-content: center;
  align-items: center;
}
.nav-preferences {
  display: flex;
  grid-column: 3;
  flex-direction: column;
}

/* Sliding navigation header */
.side-nav-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  overflow-x: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
  border-right: solid;
  box-sizing: var(--shadow--grey);
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--first-color);
  box-shadow: var(--shadow--grey);
}
.side-todo-list-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.task-lists {
  padding: 0;
  list-style-type: "# ";
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task-lists li {
  border-radius: 0.3rem;
  padding: 10px 10px;
}
.task-lists li:hover {
  background-color: rgb(170, 193, 238);
}
